{% extends 'base.html' %}


{% block title %}About Us{% endblock title %}

{% block content %}
<div class="container">
<h1>A product management platform that is tailored to your unique needs</h1>
    <div class="aboutLow rounded">
        <br>
        <p id="aboutDesc">An in-depth, yet efficient issue tracker made simple. An interface that is clean, easy to navigate, and straight to the point.</p>
        <br>
        <br>
        <p id="aboutDesc">Utilize the no-frills template provided to you.</p>
        <p id="aboutDesc">Use within your team and customize roles for every member</p>
        <br>
    </div>
    <br>
    <div class="aboutRow container d-flex flex-row rounded">
        <div class="row col-12 mx-auto">
            <div class="picLeft col-4">
    
            </div>
            <div class="picMiddle col-4">
    
            </div>
            <div class="picRight col-4">
    
            </div>
        </div>
    </div>
    <br>
    <div class="aboutBottom rounded">
        <br>
        <p id="aboutDesc">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore aliquid ad aliquam optio magni blanditiis, quibusdam odit cumque, saepe ducimus, perferendis natus quidem? Quia nemo voluptatibus voluptate possimus eos maxime fugiat, enim dolore debitis repellat, quasi necessitatibus eveniet odit, provident recusandae nesciunt voluptatem repellendus quae reprehenderit labore aut atque? Qui!.</p>
        <br>
        <br>
        <p id="aboutDesc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, qui repellat quis corporis temporibus porro dolore soluta odio cum rerum laboriosam asperiores, non tempore consequuntur perspiciatis, accusamus quam sit quisquam.</p>
        <br>
    </div>
</div>
{% endblock content %}