{% extends 'base.html' %}
{% load static %}


{% block title %}Home{% endblock title %}

{% block content %}
<h1 id="titleBug">BUGoverflow</h1>
<br>
<div class="container w-100">
    <div class="wrapper d-flex justify-content-center">
        <p id="homeLeft">A tracker that is</p>
        <div class="words">
            <span id="moving">simple</span>
            <span id="moving">clean</span>
            <span id="moving">fast</span>
            <span id="moving">efficient</span>
            <span id="moving">awesome</span>
        </div>
    </div>
</div>
{% endblock content %}