{% extends 'base.html' %}
{% load static %}


{% block title %}Board{% endblock title %}

{% block content %}
<style>
    .list_one {
        background-color: lightgreen;
        height: 50vh;
    }
    .list_two {
        background-color: lightblue;
        height: 50vh;
    }
    .list_three {
        background-color: lightsalmon;
        height: 50vh;
    }
</style>


<h1>Issues</h1>

<div class="container-fluid d-flex flex-row gap-1">
    <div class="container list_one col-4">
        <h3>To Do</h3>
        <div class="row">
            <div class="col-4">
                {% for issue in to_do_list %}
                <a href="{% url 'issue_detail' issue.id %}">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ issue.summary | truncatechars:150 }}</h5>
                        <small>Reported by: {{ issue.reporter }}</small>
                        <p class="card-text">{{ issue.description | truncatechars:250 }}</p>
                    </div>
                </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="container list_two col-4">
        <h3>In Progress</h3>
        <div class="row">
            <div class="col-4">
                {% for issue in in_p_list %}
                <a href="{% url 'issue_detail' issue.id %}">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ issue.summary | truncatechars:150 }}</h5>
                        <small>Reported by: {{ issue.reporter }}</small>
                        <p class="card-text">{{ issue.description | truncatechars:250 }}</p>
                    </div>
                </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>



    <div class="container list_three col-4">
        <h3>Done</h3>
        <div class="row">
            <div class="col">
                {% for issue in done_list %}
                    <div class="card w-100 mt-2">
                        <div class="card-body d-flex flex-row justify-content-between">
                            <div class="leftCard">
                            <h5 class="card-title">{{ issue.summary | truncatechars:150 }}</h5>
                            <small>Reported by: {{ issue.reporter }}</small>
                            <p class="card-text">{{ issue.description | truncatechars:250 }}</p>
                            </div>
                            <div class="rightCard">
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                            Details
                            </button>
                            </div>
                        </div>
                    </div>
                    
                            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Issue #{{ issue.id }}</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p><b>Summary: </b> {{ issue.summary }}</p>
                                            <p><b>Reported by: </b> {{ issue.reporter }}</p>
                                            <p><b>Reported on: </b> {{ issue.created_on }}</p>
                                            <p><b>Assignee: </b> {{ issue.assignee }}</p>
                                            <p><b>Status: </b> {{ issue.status }}</p>
                                            <p><b>Priority: </b> {{ issue.priority }}</p>
                                            <p><b>Description: </b></p>
                                            <p>{{ issue.description }}</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Understood</button>
                                        </div>
                                    </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

</div>
{% endblock content %}