{% extends 'base.html' %}
{% load static %}


{% block title %}Dashboard{% endblock title %}

{% block content %}
<h1>{{ user.team.name }} Dashboard</h1>
<div class="container-fluid d-flex flex-row gap-3">
    <div class="container list_one rounded">
        <h3>To Do</h3>
        <div class="row">
            <div class="col">
                {% for issue in to_do_list %}
                <a href="{% url 'issue_detail' issue.id %}">
                <div class="card w-100 mt-2">
                    <div class="card-body">
                        <h6 class="card-title">{{ issue.summary | truncatechars:150 }}</h5>
                        <small>Reported by: {{ issue.reporter }}</small>
                        <p class="card-text">{{ issue.description | truncatechars:250 }}</p>
                    </div>
                </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="container list_two rounded">
        <h3>In Progress</h3>
        <div class="row">
            <div class="col">
                {% for issue in in_p_list %}
                <a href="{% url 'issue_detail' issue.id %}">
                    <div class="card w-100 mt-2">
                        <div class="card-body">
                            <h6 class="card-title">{{ issue.summary | truncatechars:150 }}</h5>
                            <small>Reported by: {{ issue.reporter }}</small>
                            <p class="card-text">{{ issue.description | truncatechars:250 }}</p>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="container list_three rounded">
        <h3>Done</h3>
        <div class="row">
            <div class="col">
                {% for issue in done_list %}
                <a href="{% url 'issue_detail' issue.id %}">
                    <div class="card w-100 mt-2">
                        <div class="card-body">
                            <h6 class="card-title">{{ issue.summary | truncatechars:150 }}</h6>
                            <small>Reported by: {{ issue.reporter }}</small>
                            <p class="card-text">{{ issue.description | truncatechars:250 }}</p>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}