{% extends 'base.html' %}
{% load static %}


{% block title %}{{ issue.summary }}{% endblock title %}


{% block content %}
<h1>Issue #{{ issue.id }}</h1>
<div class="container detailList w-50 rounded">
    <br>
    <p><b>Summary: </b> {{ issue.summary }}</p>
    <p><b>Reported by: </b> {{ issue.reporter }}</p>
    <p><b>Reported on: </b> {{ issue.created_on }}</p>
    <p><b>Assignee: </b> {{ issue.assignee }}</p>
    <p><b>Status: </b> {{ issue.status }}</p>
    <p><b>Priority: </b> {{ issue.priority }}</p>
    <p><b>Description: </b></p>
    <p>{{ issue.description }}</p>
</div>
<br>
<div class="container d-flex flex-row w-50 gap-3">
{% if user.username == issue.reporter.username %}
    <p>
        <a href="{% url 'edit_issue' issue.id %}" class="btn btn-primary">Edit</a>
    </p>
    <p>
        <a href="{% url 'delete_issue' issue.id %}" class="btn btn-danger">Delete</a>
    </p>
{% endif %}
</div>
{% endblock content %}
